h1 {
    background-image: url("../images/pattern.webp");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    font-family: Helvetica;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.red {
    background-color: lightcoral;
}

.blue {
    background-color: skyblue;
}

.green {
    background-color: mediumspringgreen;
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}