h1 {
    background-image: url(recources/images/pattern.webp);
}
h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.red {
    background-color: lightcoral;
}

.blue {
    background-color: skyblue;
}

.green {
    background-color: mediumspringgreen;
}

p {
    font-family: Helvetica;
    font-weight: bold;
}